@using Pokedex.Core.Application.ViewModels.Pokemon
@using Pokedex.Core.Application.ViewModels.Regions

@model List<PokemonViewModels>
@{
    ViewData["Title"] = "Página Principal";
}

<div class="container-fluid">
    <div class="row">
         <div class="col-12">
            <div class="card">
              <div class="card-header bg-dark">
                 <div class="d-flex justify-content-between align-items-center">
                     <h3 class="text-white">Listado de Pokemones</h3>
                     <form method="post" asp-action="Buscar" asp-controller="Home">
                        <label class="text-primary fw-bold">Buscar Pokemon:</label>
                        <input type="text" class="text-primary" name="name" id="name"/>
                        <input type="submit" value="Buscar" class="btn btn-primary"/>
                     </form>
                 </div>
                   <div class="d-flex justify-content-between align-items-center mt-2">
                      <h6 class="text-primary">Filtro por regiones:</h6>
                        <form method="post" asp-controller="Home" asp-action="RegionFilter">
                            @foreach(RegionsViewModels region in ViewBag.Region)
                            {
                              <input type="checkbox" class="form-check-input mt-2" name="RegionId" id="region-@region.Id" value="@region.Id"/>
                              <label class="form-check-label text-white" for="region-@region.Id">@region.Name</label>
                            }
                           <input type="submit" value="Filtrar " class="btn btn-primary"/>
                        </form>
                   </div>
                </div>
            </div>
            @if (Model == null || Model.Count == 0)
            {
               <div class="p-4 mb-3 bg-light rounded">
                 <h4 class="fst-italic text-center">No hay Pokemones.</h4>
                  <label class="text-primary">Info:</label>
                 <p class="mb-0 fst-italic">Crea un pokemon o varios pokemones.
                     Despues de haberlos creado, aparce una lista donde estarán todos los pokemones del sistema "Página Principal".</p>
               </div>
            }else{
              <div class="card-body mt-2">
                <div class="row">
                  @foreach (PokemonViewModels pk in Model)
                  {
                    <div class="col-4 mt-2">
                      <div class="card shadow-sm">
                       <img class="db-placebolder-img card-img-top image-size" src="@pk.ImageUrl" />
                         <div class="card-body mt-2">
                           <h4 class="fst-italic">@pk.Name</h4>
                           <div class="d-flex justify-content-between align-items-center mt-2">
                             <small class="fw-bold text-primary fs-12 mt-2">Region: @pk.Region</small>
                             <small class="fw-bold text-success fs-12 mt-2">Tipo: | @pk.NamePrimario | @pk.NameSecundario</small>
                           </div>
                         </div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            }
      </div>
   </div>
</div>



